a {
  color: black;
}

th {
  text-align: center;
}

td div {
  width: 100px !important;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3px;
}

mat-spinner {
  display: block;
  margin: 0 auto;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  text-align: center;
  background-color: rgb(252, 252, 252);
  border: 0.5px solid white;
  border-radius: 5px;
}

.report {
  padding: 20px 0px 5px 0px;
  text-align: center;
}

.disabled {
  cursor: not-allowed;
}

.blue {
  background-color: rgb(82, 82, 179);
}

.green {
  background-color: rgb(87, 160, 87);
}

.light-red {
  background-color: rgb(255, 100, 100);
}

.dark-red {
  background-color: rgb(156, 68, 68);
}

.light-grey {
  background-color: rgb(175, 175, 175);
}

.dark-grey {
  background-color: rgb(100, 100, 100);
}

.medium-grey {
  background-color: grey;
}

.orange {
  background-color: rgb(255, 186, 57);
}

.small-font {
  font-size: small;
}

.xsmall-font {
  font-size: x-small;
}