a {
  color: black;
}

table {
  display: block; 
  overflow-x: scroll; 
  width: 91%;
}

th {
  text-align: center;
}

td>div {
  width: 100px !important;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

mat-spinner {
  display: block;
  margin: 0 auto;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  text-align: center;
  background-color: rgb(252, 252, 252);
  border: 0.5px solid white;
  border-radius: 5px;
}

#course {
  width: 200px !important;
}

#lesson {
  padding: 0;
  max-height: 110px;
  overflow-y: auto;
}

#state {
  width: 100px !important;
  min-height: 100px !important;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.report {
  padding: 20px 5px 5px 5px;
  text-align: center;
}

.disabled {
  cursor: not-allowed;
}

.blue {
  background-color: skyblue;
}

.green {
  background-color: rgb(87, 160, 87);
}

.light-red {
  background-color: rgb(255, 100, 100);
}

.dark-red {
  background-color: rgb(156, 68, 68);
}

.light-grey {
  background-color: lightgrey;
}

.dark-grey {
  background-color: rgb(168, 168, 168);
}

.medium-grey {
  background-color: grey;
}

.orange {
  background-color: rgb(255, 186, 57);
}

.small-font {
  font-size: small;
}

.xsmall-font {
  font-size: x-small;
}